#home-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 95%;
    margin: 0 auto;

    .MuiPaper-root {
        flex: 1;
        overflow: auto;
    }

    .sleep-period {
        background-color: #a7a7a747;

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }

    .work-period {
        background-color: rgba(128, 0, 128, 0.25);

        &:hover {
            background-color: rgba(116, 57, 116, 0.25);
        }
    }

    .free-period {
        background-color: rgba(144, 238, 144, 0.25);

        &:hover {
            background-color: rgba(139, 187, 139, 0.25);
        }
    }

    .app-appointment-content {
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .title {
            font-weight: bold;
            font-size: 18px;
        }

        .value-wrapper {
            font-weight: 14px;
            font-weight: bold;
        }

        .hour-wrapper {
            display: flex;
        }

        .description {
            flex: 1;
            white-space: normal;
            margin-top: 10px;
        }
    }

    .appointment-active {
        background-color: green;
    }

    .appointment-late {
        background-color: orange;
    }

    .appointment-done {
        background-color: #a4b1db;
    }

    .appointment-delay {
        background-color: crimson;
    }
}

.tooltip-content {
    .meta {
        .lens {
            height: 40px;
            width: 40px;
        }

        .title {
            font-size: 18px;
            color: gray;
            font-weight: bold;
        }
    }

    .description {
        margin: 10px 10px 0px;
    }
}

.tooltip-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
