#home-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 95%;
    margin: 0 auto;

    .MuiPaper-root {
        overflow: auto;
    }

    .sleep-period {
        background-color: #a7a7a747;

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }

    .work-period {
        background-color: rgba(128, 0, 128, 0.25);

        &:hover {
            background-color: rgba(116, 57, 116, 0.25);
        }
    }

    .free-period {
        background-color: rgba(144, 238, 144, 0.25);

        &:hover {
            background-color: rgba(139, 187, 139, 0.25);
        }
    }

    .app-appointment-content {
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .title {
            font-weight: bold;
            font-size: 18px;
        }

        .value-wrapper {
            font-weight: 14px;
            font-weight: bold;
        }

        .hour-wrapper {
            display: flex;
        }

        .description {
            flex: 1;
            white-space: normal;
            margin-top: 10px;
        }
    }

    .appointment-active {
        background-color: green;
    }

    .appointment-late {
        background-color: orange;
    }

    .appointment-done {
        background-color: #a4b1db;
    }

    .appointment-delay {
        background-color: crimson;
    }
}

.tooltip-content {
    .meta {
        .lens {
            height: 40px;
            width: 40px;
        }

        .title {
            font-size: 18px;
            color: gray;
            font-weight: bold;
        }
    }

    .description {
        margin: 10px 10px 0px;
    }
}

.tooltip-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.date-navigator-root {
    display: flex;
    align-items: center;

    .navigation-pair-button-wrapper {
        display: flex;

        button {
            height: 50px;
            width: 50px;
            border-radius: 100%;
            background: none;
            border: none;
            color: gray;
            padding: 10px;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            outline: none;

            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }

            &:active {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }

        &.reverse {
            flex-direction: row-reverse;
        }
    }
}

.icon-button-wrapper {
    height: 48px !important;
    width: 48px !important;
    min-width: unset !important;
    border-radius: 100% !important;

    svg {
        height: 24px;
        width: 24px;
        color: gray;
    }
}

.merge-modal {
    .cancel {
        margin-right: calc(100% - 235px);
    }
}

.toolbar-flexible-space {
    display: flex;
    flex: 1 !important;
    justify-content: flex-end;
    padding: 0px 20px;
}
