.due-date-wrapper {
    .ant-space-horizontal {
        width: 100%;

        & > .ant-space-item:nth-child(1) {
            flex: 1;
        }
        & > .ant-space-item:nth-child(2) {
            flex: 0;
        }
    }

    .due-date-toogle {
        svg {
            height: 24px;
            width: 24px;
        }
    }
}

.continuous-space {
    align-items: flex-start !important;

    svg {
        height: 20px;
        width: 20px;
        margin-top: 7px;
    }
}
