.due-date-wrapper {
    .due-date-toogle {
        svg {
            height: 24px;
            width: 24px;
        }
    }
}

.continuous-space {
    align-items: flex-start !important;

    svg {
        height: 20px;
        width: 20px;
        margin-top: 7px;
    }
}
